<!DOCTYPE HTML>
<html>
    <head>
        <title>dEarly</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.bundle.min.js"></script>
        <style>
            html {
                text-align: center;
            }
            body {
                margin: auto;
                max-width: 1200px;
            }
            .container {
                background-color: #AAA;
            }
            .content {
                max-height: 86%;
                overflow: scroll;
            }
            .graph {
                background-color: #DDD;
                display: inline-block;
                height: 500px;
                margin: 0 1% 1% 1%;
                padding: 0 1% 0 1%;
                width: 96%;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>Welcome to dEarly</h1>
            <div>
                <div class="graph" id="60seconds">
                    <h3>Number of tweets created in the last 60 seconds:</h3>
                     <!-- that contain the word "GameofThrones" -->
                    <div class="content">
                        <canvas id="myChart" width="1166" height="420"></canvas>
                        <script type="text/javascript">
                            var chartData = "";
                            var myChart
                            function createGraph() {
                                var ctx = document.getElementById("myChart");
                                myChart = new Chart(ctx, {
                                    type: 'line',
                                    data: {
                                        labels: chartData[0],
                                        datasets: [{
                                            label: '# of tweets',
                                            data: chartData[1],
                                            backgroundColor: [
                                                'rgba(54, 162, 235, 0.2)'
                                            ],
                                            borderColor: [
                                                'rgba(54, 162, 235, 1)'
                                            ],
                                            borderWidth: 1
                                        }]
                                    },
                                    options: {
                                        scales: {
                                            yAxes: [{
                                                ticks: {
                                                    beginAtZero: true,
                                                    suggestedMax: 6
                                                }
                                            }]
                                        }
                                    }
                                });
                            }

                            function cropData() {
                                latestTime = new Date(new Date(chartData[0][0]) - 60000);
                                cuttingList = true;
                                while (cuttingList) {
                                    // console.log(latestTime + " " + chartData[0][chartData.length -1]);
                                    if ((latestTime) > (new Date(chartData[0][chartData[0].length -1]))) {
                                        chartData[0].pop();
                                        chartData[1].pop();
                                    }
                                    else {
                                        cuttingList = false;
                                    }
                                }
                                var x = 1;
                                // console.log(chartData);
                                for (var x = 1; x < 59; x++) {
                                    // console.log((new Date(new Date(chartData[0][x-1]) - 1000)) + " " + new Date(chartData[0][x]));
                                    if (!((new Date(new Date(chartData[0][x-1]) - 1000)).getTime() === (new Date(chartData[0][x])).getTime())) {
                                        // console.log("thing")
                                        var newDate = (new Date(new Date(chartData[0][x-1]) - 1000)).toUTCString()
                                        // newDate = newDate.slice(0, 3) + "," + newDate.slice(3, newDate.length-11);
                                        chartData[0].splice(x, 0, newDate);
                                        chartData[1].splice(x, 0, 0);
                                    }
                                }
                                // console.log(chartData);
                            }

                            function updateData() {
                                var titleList = $.getJSON("/datasec", function() {
                                    newData = titleList.responseJSON["timecounts"];
                                    // console.log(newData)
                                    if (newData[0]["timestamp"] != chartData[0][0]) {
                                        // console.log("new " + newData[0]["timestamp"] + " " + chartData[0]["timestamp"]);
                                        chartData[0] = [newData[0]["timestamp"]].concat(chartData[0]);
                                        chartData[1] = [newData[0]["count"]].concat(chartData[1]);
                                        cropData();
                                        // console.log(chartData.length)
                                    }
                                    // else {
                                    //     console.log("old")
                                    //     console.log("old " + newData[0]["timestamp"] + " " + chartData[0]["timestamp"]);
                                    // }
                                })
                            }

                            function updateGraph() {
                                myChart.data.labels = chartData[0];
                                myChart.data.datasets[0].data = chartData[1];
                                myChart.update();
                                // console.log("update");
                                // console.log(myChart);
                                // console.log(chartData[1].length);
                                // console.log(chartData[1]);
                            }

                            var titleList = $.getJSON("/datasecall", function() {
                                chartDataJSON = titleList.responseJSON["timecounts"];
                                chartData = [[],[]]
                                for (var i = 0; i < chartDataJSON.length; i++) {
                                    chartData[0].push(chartDataJSON[i]["timestamp"]);
                                    chartData[1].push(chartDataJSON[i]["count"]);
                                }
                                cropData();
                                // console.log(chartData);
                                createGraph();
                                setInterval(function() {
                                    updateData();
                                    updateGraph();
                                }, 100);
                            })
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>